<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
<system.webServer>      
    <rewrite>
        <rules>
            <rule name="Reverse Proxy to Different Port" stopProcessing="true">
                <match url="^(.*)" />
                <action type="Rewrite" url="http://127.0.0.1:8090/{R:1}" />
            </rule>
        </rules>
    </rewrite>
	<security>
         <requestFiltering>
            <requestLimits>
               <headerLimits>
                  <add header="Content-type" sizeLimit="268435456" />
               </headerLimits>
            </requestLimits>
         </requestFiltering>
	 </security>
</system.webServer>
</configuration>